# Dependency directory
node_modules/

# Build outputs
dist/
build/

# Local env files containing database secrets
.env
.env.test

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS specific files
.DS_Store
Thumbs.db
